<div class="vh-100 d-flex flex-column">
    <!-- Header Section -->
    <app-header></app-header>
   
    <!-- Buttons Section -->
    <div class="flex-grow-1 d-flex align-items-center justify-content-center">
      <div class="text-center">
        <button (click)="redirectToPageNewSubmission()" class="btn btn-success btn-lg mb-3 w-100">Δημιουργία Νέας Καταχώρησης</button>
        <button (click)="redirectToPageMySubmissions()" class="btn btn-success btn-lg w-100">Οι Καταχωρήσεις μου</button>
      </div>
    </div>

    <!-- Footer Section -->
    <app-footer></app-footer>

</div>


  
  