<div class="vh-100 d-flex flex-column">
    <!-- Header Section -->
    <app-header></app-header>
  
    <!-- Main Content -->
    <div class="container mb-4 mt-4 flex-grow-1">
      <div class="shadowed-box p-3">
        <h3 class="text-center mb-5">Λίστα Καταχωρήσεων</h3>
  
        <div *ngIf="submissions?.length > 0; else noData">
          <!-- Table Header -->
          <div class="row font-weight-bold mb-3 d-none d-md-flex">
            <div class="text-center col-1">ID</div>
            <div class="text-center col-2">Α.Φ.Μ.</div>
            <div class="text-center col-3">Όνομα</div>
            <div class="text-center col-2">Ιδιότητα</div>
            <div class="text-center col-2">Ημ/νία Απόκτησης</div>
          </div>
  
          <!-- Submissions Data -->
          <div
            class="row table-row mb-2 align-items-center text-center flex-wrap"
            *ngFor="let submission of submissions"
          >
            <!-- ID -->
            <div class="col-12 col-md-1 text-md-center">
              <strong class="d-md-none">ID:</strong> {{ submission.id }}
            </div>
  
            <!-- Α.Φ.Μ. -->
            <div class="col-12 col-md-2 text-md-center">
              <strong class="d-md-none">Α.Φ.Μ.:</strong> {{ submission.afm }}
            </div>
  
            <!-- Όνομα -->
            <div class="col-12 col-md-3 text-md-center">
              <strong class="d-md-none">Όνομα:</strong> {{ submission.firstName }} {{ submission.lastName }}
            </div>
  
            <!-- Ιδιότητα -->
            <div class="col-12 col-md-2 text-md-center">
              <strong class="d-md-none">Ιδιότητα:</strong> {{ submission.position.name }}
            </div>
  
            <!-- Ημ/νία Απόκτησης -->
            <div class="col-12 col-md-2 text-md-center">
              <strong class="d-md-none">Ημ/νία Απόκτησης:</strong> {{ submission.acquisitionDate }}
            </div>
  
            <!-- Actions -->
            <div class="col-12 col-md-2 text-center text-md-right mt-2 mt-md-0">
              <button (click)="toggleDetails(submission.id)" class="btn btn-success btn-sm" (click)="goToSubmission(submission.id)">
                Προβολή Καταχώρησης
              </button>
            </div>

            <!-- Dropdown for Submission Details -->
            <div
            *ngIf="expandedSubmissionId === submission.id"
            class="col-12 mt-3 table-row p-3 rounded"
            >
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <th scope="row">Α.Φ.Μ.</th>
                  <td>{{ submission.afm }}</td>
                </tr>
                <tr>
                  <th scope="row">Όνομα</th>
                  <td>{{ submission.firstName }} {{ submission.lastName }}</td>
                </tr>
                <tr>
                  <th scope="row">Πατρώνυμο</th>
                  <td>{{ submission.fatherName }}</td>
                </tr>
                <tr>
                  <th scope="row">Ιδιότητα</th>
                  <td>{{ submission.position.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Ημ/νία Απόκτησης</th>
                  <td>{{ submission.acquisitionDate }}</td>
                </tr>
                <tr>
                  <th scope="row">Ημ/νία Απώλειας</th>
                  <td>{{ submission.lossDate || 'N/A' }}</td>
                </tr>
                <tr>
                  <th scope="row">Οργανική Μονάδα</th>
                  <td>{{ submission.organizationUnit }}</td>
                </tr>
                <tr>
                  <th scope="row">Νέα Οργανική Μονάδα</th>
                  <td>{{ submission.newOrganizationUnit || 'N/A' }}</td>
                </tr>
                <tr>
                  <th scope="row">Βαθμός</th>
                  <td>{{ submission.grade.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Όνομα Επιτροπής</th>
                  <td>{{ submission.committeeName.name }}</td>
                </tr>
                <tr>
                  <th scope="row">Αριθμός Πρωτοκόλλου</th>
                  <td>{{ submission.protocolNumber }}</td>
                </tr>
                <tr>
                  <th scope="row">Ημ/νία Απόφασης</th>
                  <td>{{ submission.decisionDate }}</td>
                </tr>
                <tr>
                  <th scope="row">Προηγούμενη Υποβολή</th>
                  <td>{{ submission.previousSubmission ? 'Ναι' : 'Όχι' }}</td>
                </tr>
              </tbody>
            </table>
            </div>

          </div>
        </div>
  
        <!-- No Data Template -->
        <ng-template #noData>
          <p class="text-center text-muted">Δε βρέθηκε καμία καταχώρηση.</p>
        </ng-template>
      </div>
    </div>
  
    <!-- Footer Section -->
    <app-footer></app-footer>
  </div>
  