<div class="row no-gutters" style="min-height: 80vh;">
	<div class="bg-success d-md-flex align-items-center justify-content-center col-md-16 col-lg-6" style="min-width: 50vh;">
		<img src="/letters.png" class="img-fluid">
	</div>
	<div class="d-md-flex align-items-center justify-content-center col-lg-6">
		<div class="d-flex align-items-center w-100">
			<div class="p-5 w-100">
				<div class="row justify-content-center">
					<div class="row justify-content-center">
						<div class="pl-lg-5 pr-lg-5 col-12">
							<div>
								<p class="font-weight-normal text-center"></p>
							</div>
						</div>
					</div>
					<div class="pt-5 col-12">
						<div class="text-center pb-4">
							<span>
								<h3 style="font-weight: normal">Πλατφορμα Καταχώρησης Στοιχείων Υπόχρεων για την Κατάθεση Δήλωσης Πόθεν Έσχες </h3>
							</span>
						</div>
						<div class="container" style="width: 490px;">
							<div class="row pb-5 d-md-flex align-items-center justify-content-center">
								<h2 class="font-weight-bold mt-4">Σύνδεση με κωδικούς taxisnet</h2>
								<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-75">
									<div role="group" class="input-group mt-3 border border-success">
										<div class="input-group-prepend">
										<div class="input-group-text bg-success">
											<i class="bi bi-person-fill"></i>
										</div>
										</div>
										<input
										id="txt-username"
										type="text"
										placeholder="Όνομα χρήστη taxisnet"
										formControlName="username"
										class="form-control"
										required
										/>
									</div>
									<div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger small">
										Username is required.
									</div>
									
									<div role="group" class="input-group mt-3 border border-success">
										<div class="input-group-prepend">
										<div class="input-group-text bg-success">
											<i class="bi bi-lock-fill"></i>
										</div>
										</div>
										<input
										id="txt-pwd"
										type="password"
										placeholder="Κωδικός taxisnet"
										formControlName="password"
										class="form-control"
										required
										/>
									</div>
									<div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger small">
										Password is required.
									</div>
									
									<button type="submit" class="btn mt-3 text-white btn-success btn-block" [disabled]="loginForm.invalid">
										Είσοδος
										<i class="fa fa-sign-in-alt ml-2 text-white"></i>
									</button>
									</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>